.btn {
    list-style: none;
    display: flex;
    align-content: center;
    margin-bottom: 10px;
}

.link {
    text-decoration: none;
    font-family: sans-light;
    color: #FFF;
    font-size: 21px;
    transition: all 250ms ease-in-out 10ms;
}

.link:hover {
    color: #F26430;
    transform: scale(1.02);
}

.icon {
    margin-right: 12px;
}