.menu {
    position: fixed;
    width: 17vw;
    background-color: #121212;
    height: 100%;
    top: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    transition: all 200ms ease-in-out 0;
    padding-top: 15px;
    z-index: 1000;
}

.hidden {
    transition: all 200ms ease-in-out;
    left: -14vw;
}

.visualy{
    transition: all 200ms ease-in-out;
    left: 0vw;
}

.menu__wrapper {
    display: flex;
    flex-direction: column;
    min-height: min-content;
    padding-left: 15px;
    margin-top: 15px;
    margin-right: 20px;
}

.logo {
    display: flex;
    margin-right: 20px;
    justify-content: center;
}

.statusIcon {
    float: right;
    margin-right: 0.7vw;
    position: relative;
    cursor: pointer;
}


@media only screen and (max-device-width : 1200px) {
    .menu {
        min-width: 200px;
    }

    .hidden {
        left: -160px;
    }

    .statusIcon {
        margin-right: 7px;
    }
}