.item {
    height: 300px;
    list-style: none;
    cursor: pointer;
    transition: transform 300ms linear 100ms;
    border-radius: 10px;
}

.heart_icon {
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 100;
    transition: transform 200ms ease-in-out 100ms;
    pointer-events: all;
}

.heart_icon:hover {
    transform: scale(1.1);
}

.liked {
    color: red;
}

/* .heart_icon: */

.item:hover {
    transform: scale(1.04)
}

.item__important {
    grid-column: 5/1;
    background: red ;
}

.item__light {
    background: blue ;
    grid-column: 4/1;
}

.item__new {
    background: black ;
    grid-column: 3/1;
}

.item__wrapper {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: background transform backdrop-filter 200ms linear 300ms;
}


.glass_morph {
    text-align: center;
    display: flex;
    justify-content: center;

    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    -webkit-backdrop-filter: blur( 1.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.item__title {
    font-size: 21px;
    text-transform: uppercase;
    font-family: sans-light;
    font-weight: 200;
    padding-left: 10px;
    text-align: justify;
}

.item__prev {
    display: block;
}


@media only screen and (max-width : 550px) {
    
    .item__important {
        grid-column: 1/2;
        background: red ;
    }

    .item__light {
        background: blue ;
        grid-column: 1/2;
    }

    .item__new {
        background: black ;
        grid-column: 1/2;
    }

}

@media only screen and (min-width : 551px) and (max-width : 900px) {
    
    .item__important {
        grid-column: 1/3;
        background: red ;
    }

    .item__light {
        background: blue ;
        grid-column: 1/3;
    }

    .item__new {
        background: black ;
        grid-column: 1/3;
    }

}

@media only screen and (min-width : 901px) and (max-width : 1200px) {
    
    .item__important {
        grid-column: 1/4;
        background: red ;
    }

    .item__light {
        background: blue ;
        grid-column: 1/4;
    }

    .item__new {
        background: black ;
        grid-column: 1/3;
    }

}