.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #F2AE2E;
    border-radius: 2px;
    background: none;
}

.btn__content {
    /* display: none; */
    color: #F2DEC4;
}